@if (isAddingNewTask) {
  <app-new-task (close)="onCloseNewTask()" [userId]="userId" />
}

<section class="tareas card">
  <header class="header">
    <div class="title">
      <h2>Tareas de {{ nombre }}</h2>
      <p class="subtitle">Crea, revisa y completa tus pendientes</p>
    </div>
    <menu class="menu">
      <button class="btn btn-primary" (click)="onTaskAdded()">Agregar Tarea</button>
    </menu>
  </header>

  <ul class="list">
    @for (task of userTasksSelected; track task.id) {
      <li>
        <app-task [task]="task" />
      </li>
    }
  </ul>
</section>
