<div class="overlay" (click)="onCancel()"></div>
<dialog class="modal" open>
  <h2>Agregar Tarea</h2>
  <form (ngSubmit)="onSubmit()">
    <p class="field">
      <label for="titulo">Titulo</label>
      <input class="control" type="text" id="titulo" name="titulo" [(ngModel)]="title" />
    </p>

    <p class="field">
      <label for="resumen">Resumen</label>
      <textarea class="control" id="resumen" rows="5" name="resumen" [(ngModel)]="summary"></textarea>
    </p>

    <p class="field">
      <label for="expira">Fecha Límite</label>
      <input class="control" type="date" id="expira" name="expira" [(ngModel)]="dueDate" />
    </p>

    <p class="acciones">
      <button class="btn" (click)="onCancel()" type="button">Cancelar</button>
      <button class="btn btn-primary" type="submit">Crear</button>
    </p>
  </form>
</dialog>
